*
  box-sizing: border-box

size(w, h = w)
  width w
  height h

alignment = left center right justify start end
text()
  sized = false
  for arg in arguments
    if arg is a 'color'
      color arg
    else if arg is a 'unit'
      if sized
        line-height arg
      else
        sized = true
        font-size arg
    else if arg in alignment
      text-align arg
    else
      font-weight arg

// Easy RTL columns
col(count)
  float right
  width (100% / count)

// Micro-Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.cf
  zoom: 1
  &:before, &:after
    content ''
    display table
  &:after
    clear both