
.icon-fb:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-down:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-up:before { content: '\e808'; } /* '' */