*
  box-sizing: border-box

size(w, h = w)
  width w
  height h

alignment = left center right justify start end
text()
  sized = false
  for arg in arguments
    if arg is a 'color'
      color arg
    else if arg is a 'unit'
      if sized
        line-height arg
      else
        sized = true
        font-size arg
    else if arg in alignment
      text-align arg
    else
      font-weight arg

// Easy RTL columns
col(count, gutter = false)
  float right
  if gutter
    width ((100% - (count * gutter)) / count)
    margin-left gutter
    &:nth-child({count}n)
      margin-left 0
  else
    width (100% / count)

// Micro-Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.cf
  zoom: 1
  &:before, &:after
    content ''
    display table
  &:after
    clear both

// nib/position
-pos(type, args)
  i = 0
  position: unquote(type)
  for j in (1..4)
    if length(args) > i
      {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
    i += 1

fixed()
  -pos('fixed', arguments)
absolute()
  -pos('absolute', arguments)
relative()
  -pos('relative', arguments)