* {
  box-sizing: border-box;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
@media (min-height: 1000px) {
  .mock {
    color: #fff;
  }
}
@media (min-height: 700px) and (min-width: 500px) {
  body {
    padding-top: 163px;
  }
  header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
@media (max-width: 800px) {
  #steps li {
    float: right;
    width: 33.333333333333336%;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 650px) {
  header p {
    font-size: 14px;
  }
  header p strong {
    font-size: 12px;
  }
  #slider img {
    max-width: 70%;
  }
  #quote {
    padding: 30px 15%;
  }
  #features .big {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
  #about .col {
    float: right;
    width: 100%;
    padding: 0 !important;
  }
  #about .chess li {
    float: right;
    width: 100%;
  }
  #items.third .thumb {
    margin-left: 0;
  }
  #items.third .thumb h2 {
    -webkit-transform: translateY(0);
  }
}
@media (max-width: 600px) {
  #slider h3,
  #slider .banner {
    display: none;
  }
  #slider .slider img {
    width: 100%;
    max-width: 100%;
    max-height: none;
  }
}
@media (max-width: 500px) {
  header {
    margin-bottom: 45px;
  }
  header .top {
    height: auto;
  }
  header p {
    padding: 0;
    clear: both;
  }
  header .navs {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
  }
  header nav a {
    display: none;
  }
  header nav a.active,
  header nav:hover a {
    display: block;
  }
  header nav .icon-left-dir {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 30px;
    -webkit-transform: rotate(-90deg);
  }
  header nav.second {
    position: static;
  }
  header nav.second .container {
    padding: 0;
  }
  #quote {
    padding: 20px;
  }
  #quote .big-quote {
    display: none;
  }
  #features {
    padding-bottom: 0;
  }
  #features li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 130px;
    position: relative;
  }
  #features li .big {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 0;
  }
  #features h2,
  #features p,
  #features .icon-plus {
    margin: 0 0 10px;
    text-align: right;
  }
  #pictures li:nth-child(n+5) {
    display: none;
  }
  #pictures img {
    float: right;
    width: 50%;
  }
  #how h2 {
    font-size: 220%;
  }
  #steps li {
    width: 100%;
  }
  #steps li .number {
    float: right;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  #steps li h3 {
    height: auto;
    margin-top: 0;
  }
  footer {
    position: static;
    padding: 0;
  }
  .footer-padding {
    display: none;
  }
  #contact h2,
  #contact form,
  #contact .col {
    width: 100%;
    padding: 10px;
  }
  #contact .map {
    display: none;
  }
  #items article .title {
    padding-right: 30px !important;
    background-size: cover !important;
  }
  #items article .title h2,
  #items article .title p {
    visibility: hidden;
  }
  #items article:hover .title h2,
  #items article.expand .title h2,
  #items article:hover .title p,
  #items article.expand .title p {
    visibility: visible;
  }
  #items article .content {
    height: auto;
  }
  #items article .content .slider {
    float: none;
    width: 100%;
  }
  #items article .content .inner {
    position: static;
  }
}
