@import 'mixin'

@media (min-height: 700px)
  header
    fixed top right
    z-index 100

@media (max-width: 900px)
  #steps li
    col(3)

@media (max-width: 650px)
  header p
    text 14px
    strong
      text 12px
  #slider img
    max-width 70%
  #quote
    padding-left 15%
    padding-right 15%
  #features a.big
    width 100%
    padding-top @width
