* {
  box-sizing: border-box;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
@media (min-height: 1000px) {
  .mock {
    color: #fff;
  }
}
@media (min-height: 700px) and (min-width: 500px) {
  body {
    padding-top: 163px;
  }
  body > header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
@media (max-width: 915px) {
    .head-box {
        margin-top: 60px;
    }
}
@media (max-width: 800px) {
  #slider nav {
    margin-right: 20px;
  }
  #steps li {
    float: right;
    width: 33.333333333333336%;
      height: 312px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .blog aside {
    display: none;
  }
  .blog .box {
    width: 100%;
  }
  #about center img {
      width: 100%;
      height: auto;
  }
}
@media (max-width: 730px) {
    .head-box {
        margin-top: 100px;
    }
}
@media (max-width: 650px) {
  body > header p {
    font-size: 14px;
  }
  body > header p strong {
    font-size: 12px;
  }
  #slider img {
    max-width: 70%;
  }
  #quote {
    padding: 30px 15%;
  }
  #features .big {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
  #about .col {
    float: right;
    width: 100%;
    padding: 0 !important;
  }
  #about .chess li {
    float: right;
    width: 100%;
    height: auto;
  }
  #items.third .thumb {
    margin-left: 0;
  }
  #items.third .thumb h2 {
    -webkit-transform: translateY(0);
  }
  #about .clients img {
    float: right;
    width: 33.333333333333336%;
  }
  .blog article {
    overflow: hidden;
  }
  .blog article img.thumb {
    display: block;
    float: none;
    width: 140%;
    margin: -400px -20px 20px;
    border-bottom: 1px solid #e0e1e2;
  }
}
@media (max-width: 600px) {
  #slider h3,
  #slider .banner {
    display: none;
  }
  #slider .slider img {
    width: 100%;
    max-width: 100%;
    max-height: none;
  }

}
@media (max-width: 500px) {
  .head-box {
    margin-top: 100px;
  }
    body {
        overflow-x: hidden;
    }
  body > header {
    margin-bottom: 45px;
  }
  body > header .top {
    height: auto;
  }
  body > header p {
    padding: 0;
    clear: both;
  }
  body > header .navs {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
  }
  body > header .navs.open nav a {
    display: block;
  }
  body > header nav .container {
    padding: 0;
  }
  body > header nav a {
    display: none;
  }
  body > header nav a.active {
    display: block;
  }
  body > header nav .icon-left-dir {
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 30px;
    -webkit-transform: rotate(-90deg);
  }
  body > header nav.second {
    position: static;
  }
  body > header nav.second a {
    padding: 10px 20px;
  }
  #quote {
    padding: 10px 0;
  }
  #quote .big-quote {
    display: none;
  }
  #features {
    padding-bottom: 0;
  }
  #features li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 130px;
    position: relative;
  }
  #features li .big {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 0;
  }
  #features h2,
  #features p,
  #features .icon-plus {
    margin: 0 0 10px;
    text-align: right;
  }
  #pictures li:nth-child(n+5) {
    display: none;
  }
  #pictures img {
    float: right;
    width: 50%;
  }
  #how h2 {
    font-size: 220%;
  }
  #steps li {
    width: 100%;
  }
  #steps li .number {
    float: right;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  #steps li h3 {
    height: auto;
    margin-top: 0;
  }
  footer {
    position: static;
    padding: 0;
  }
  .footer-padding {
    height: 1px;
  }
  #contact h2,
  #contact form,
  #contact .col {
    width: 100%;
    padding: 10px;
  }
  #contact .map {
    display: none;
  }
  #items article .title {
    padding-right: 30px !important;
    background-size: cover !important;
  }
  #items article .title p {
    visibility: hidden;
  }
  #items article .title h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background: #636466;
  }
  #items article.expand {
    max-height: initial;
  }

  #items article .title h2 i {
    display: inline-block;
  }
  #items article .title:before {
    border-width: 0;
  }
  #items article.expand .title p {
    visibility: hidden;
  }
  #items article .content {
    height: auto;
  }
  #items article .content .slider {
    float: none;
    width: 100%;
  }
  #items article .content .inner {
    position: static;
  }
  #about .clients img {
    float: right;
    width: 50%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
    .fb_iframe_widget {
        float: left;
        margin-bottom: 20px;
    }
}
@media (max-width: 501px) {
    #steps li {
        height: 215px;
    }
}
@media (max-width: 350px) {
    #slider header.description {
        display: none;
    }
    #how {
        height: 155px !important;
    }
    .social {
        display: none;
    }
    #items article .title {
        padding: 0 !important;
    }
    #items article .title header {
        height: 100%;
    }
    #items article .title header {
        opacity: 0;
    }
  #how h2 {
    font-size: 190%;
  }
    #items.third .thumb {
        width: 100%;
    }
    .blog header {
        margin: 70px 0 20px 0;
    }
}
