@import 'mixin'

@media (min-height: 1000px)
  .mock
    text white

@media (min-height: 700px) and (min-width: 500px)
  body
    padding-top 163px
  header
    fixed top right
    z-index 100

@media (max-width: 800px)
  #steps li
    col(3)
  .container
    padding-left 20px
    padding-right 20px

@media (max-width: 650px)
  header p
    text 14px
    strong
      text 12px
  #slider img
    max-width 70%
  #quote
    padding 30px 15%
  #features .big
    size 100% auto
    padding-top @width
  #about
    .col
      col(1)
      padding 0 !important
    .chess li
      col(1)
      height auto
  #items.third
    .thumb
      margin-left 0
      h2
        -webkit-transform translateY(0)

@media (max-width: 600px)
  #slider
    h3, .banner
      display none
    .slider img
      width 100%
      max-width 100%
      max-height none

@media (max-width: 500px)
  header
    margin-bottom 45px
    .top
      height auto
    p
      padding 0
      clear both
    .navs
      width 100%
      absolute right top 100%
      &.open nav a
        display block
    nav
      a
        display none
      a.active
        display block
      .icon-left-dir
        display block
        absolute left 3px top 3px
        text 30px
        -webkit-transform rotate(-90deg)
    nav.second
      position static
      .container
        padding 0
  #quote
    padding 10px 0
    .big-quote
      display none
  #features
    padding-bottom 0
    li
      display block
      width 100%
      margin-bottom 30px
      padding-right 130px
      position relative
      .big
        absolute top right 10px
        size 100px
        padding 0
    h2, p, .icon-plus
      margin 0 0 10px
      text right
  #pictures
    li:nth-child(n+5)
      display none
    img
      col(2)
  #how h2
    text 220%
  #steps
    li
      width 100%
      .number
        float right
        size 100px 100%
        text center
      h3
        height auto
        margin-top 0
  footer
    position static
    padding 0
  .footer-padding
    display none
  #contact
    h2, form, .col
      width 100%
      padding 10px
    .map
      display none
  #items
    article
      .title
        padding-right 30px !important
        background-size cover !important
        h2, p
          visibility hidden
      &:hover, &.expand
        .title
          h2, p
            visibility visible
      .content
        height auto
        .slider
          float none
          width 100%
        .inner
          position static

@media (max-width: 350px)
  #how h2
    font-size 190%