@import 'mixin'

body
  padding 0
  margin 80px 0 0

div
  height 400px
  padding 30px
  text 60px white center

.header
  fixed top right left
  height 80px
  padding 20px
  background #ecf0f1
  text 30px #34495e

.fold, .footer
  background #f39c12

.one
  background #9b59b6

.two
  background #2c3e50

.three
  background #c0392b