* {
  box-sizing: border-box;
}
.cf,
section {
  zoom: 1;
}
.cf:before,
section:before,
.cf:after,
section:after {
  content: '';
  display: table;
}
.cf:after,
section:after {
  clear: both;
}
html,
body {
  margin: 0;
  padding: 0;
  direction: rtl;
}
body {
  font-size: 16px;
  color: #636466;
  -webkit-font-smoothing: antialiased;
}
@media (min-height: 700px) {
  body {
    padding-top: 163px;
  }
}
body,
h1,
h2,
h3,
h4,
h5,
input,
textarea,
button {
  font-family: 'MeodedPashut', 'Merriweather Sans', arial, sans-serif;
}
h1,
h2 {
  text-align: center;
}
a,
a:hover {
  color: #ef2d61;
  text-decoration: none !important;
}
img.cover {
  width: 100%;
}
ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.inline li {
  padding: 0;
}
.container {
  width: 100%;
  max-width: 972px;
  min-width: 320px;
  margin: 0 auto;
}
ul.container {
  padding: 0;
  list-style: none;
}
#body {
  background: #fff;
  position: relative;
  z-index: 2;
}
header {
  width: 100%;
  background: #fff;
}
@media (min-height: 700px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }
}
header h1 {
  float: left;
}
header h1 a {
  display: block;
  background: url("../img/logo.png");
  width: 193px;
  height: 50px;
  font-size: 0;
}
header p {
  margin: 0;
  padding: 30px 0;
  font-size: 20px;
}
header nav {
  background: #cccecf;
}
header nav a {
  display: inline-block;
  padding: 10px 20px;
  color: #636466;
}
header nav a.active {
  background: #ef2d61;
  color: #fff;
}
header nav a:hover {
  background: #b1b4b6;
  color: #fff;
}
header nav.second {
  background: #636466;
}
header nav.second a {
  color: #fff;
}
section {
  padding: 30px 0;
  position: relative;
  background: #fff;
}
section:before {
  content: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-right: -12px;
  border: 12px solid transparent;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.big-quote {
  direction: ltr;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.big-quote strong {
  font-size: 38px;
  font-weight: 400;
}
.big-quote small {
  display: block;
  font-size: 22px;
}
.big-quote:before {
  content: '';
  display: block;
  margin: 10px auto;
  background: url("../img/quote.png") center;
  width: 52px;
  height: 40px;
}
.icon-plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  background: #ef2d61;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
}
.icon-plus:before {
  margin: 0;
}
.icon-plus:hover {
  background: #fff;
  color: #ef2d61;
}
#slider {
  padding-bottom: 30px;
  position: relative;
}
#slider:before {
  content: '';
  border-top-color: #fff;
}
#slider h3 {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.9s 1.1s;
  font-size: 30px;
  font-weight: normal;
}
#slider .slider li img {
  width: auto;
  max-height: 400px;
}
#slider .slider li.rslides1_on h3 {
  opacity: 1;
}
@media (max-width: 600px) {
  #slider h3,
  #slider .banner {
    display: none;
  }
  #slider .slider li img {
    width: 100%;
    max-height: none;
  }
}
#slider nav {
  position: absolute;
  right: 0;
  bottom: 30px;
  z-index: 40;
}
#slider nav a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background: #95ce92;
}
#slider nav a:hover {
  background: #ef2d61;
}
#slider nav a:before {
  line-height: 40px;
}
#slider .banner {
  width: 110px;
  height: 110px;
  position: absolute;
  left: -15px;
  top: 40px;
  z-index: 30;
  padding: 20px;
  background: #95ce92;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
#slider .banner h4,
#slider .banner p {
  margin: 0;
  padding: 0;
}
#slider .banner .icon-plus {
  position: absolute;
  top: 15px;
  left: -10px;
}
#quote,
#how {
  background: #636466;
  color: #fff;
}
#quote:before,
#how:before {
  content: '';
  border-top-color: #636466;
}
#quote .about strong,
#how .about strong {
  color: #95ce92;
}
#features {
  background: #95ce92;
  text-align: center;
}
#features:before {
  content: '';
  border-top-color: #95ce92;
}
#features li {
  float: right;
  width: 33.333333333333336%;
  padding: 0 15px;
}
#features h2 {
  font-weight: bold;
  color: #fff;
}
#how {
  padding: 0;
  text-align: center;
}
#how h2 {
  margin: 0;
  padding: 30px 0;
  font-size: 250%;
  font-weight: normal;
}
#how h2 strong {
  color: #95ce92;
}
#steps {
  background: #e0e1e2;
}
#steps:before {
  content: '';
  border-top-color: #e0e1e2;
}
#steps ul {
  overflow: hidden;
}
#steps li {
  float: right;
  width: 16.666666666666668%;
  margin: 30px 0;
  padding: 0 15px;
}
#steps li h3 {
  font-size: 20px;
  font-weight: bold;
}
#steps li .number {
  font-size: 150px;
  line-height: 100px;
}
#steps li:nth-child(0) .number {
  color: 0;
}
#steps li:nth-child(1) .number {
  color: #95ce92;
}
#steps li:nth-child(2) .number {
  color: #0084b6;
}
#steps li:nth-child(3) .number {
  color: #bc1a5e;
}
#steps li:nth-child(4) .number {
  color: #ef2d61;
}
#steps li:nth-child(5) .number {
  color: #f98813;
}
#steps li:nth-child(6) .number {
  color: #fdb128;
}
#steps .line {
  padding: 0 0 30px 40px;
  position: relative;
}
#steps .line:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-width: 0;
  border-right-color: #e0e1e2;
}
#steps .line span {
  float: right;
  width: 16.666666666666668%;
  height: 50px;
  position: relative;
}
#steps .line span:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 10;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-width: 0;
}
#steps .line span:nth-child(0) {
  background: 0;
}
#steps .line span:nth-child(0):after {
  border-right-color: 0;
}
#steps .line span:nth-child(1) {
  background: #95ce92;
}
#steps .line span:nth-child(1):after {
  border-right-color: #95ce92;
}
#steps .line span:nth-child(2) {
  background: #0084b6;
}
#steps .line span:nth-child(2):after {
  border-right-color: #0084b6;
}
#steps .line span:nth-child(3) {
  background: #bc1a5e;
}
#steps .line span:nth-child(3):after {
  border-right-color: #bc1a5e;
}
#steps .line span:nth-child(4) {
  background: #ef2d61;
}
#steps .line span:nth-child(4):after {
  border-right-color: #ef2d61;
}
#steps .line span:nth-child(5) {
  background: #f98813;
}
#steps .line span:nth-child(5):after {
  border-right-color: #f98813;
}
#steps .line span:nth-child(6) {
  background: #fdb128;
}
#steps .line span:nth-child(6):after {
  border-right-color: #fdb128;
}
#we {
  padding-top: 0;
  text-align: center;
}
#we:before {
  content: '';
  border-top-color: #fff;
}
#we h2 {
  color: #fff;
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
  margin: -86px 0 10px 0;
}
#we .container {
  z-index: 4;
  position: relative;
  max-width: 600px;
}
#we .icon-plus:hover {
  background: #cccecf;
}
#contact {
  font-size: 18px;
  background: #95ce92;
/*box-shadow 0 3px 5px #ccc*/
}
#contact h2 {
  margin: 10px 0;
  font-size: 50px;
  color: #636466;
  text-align: right;
}
#contact form {
  float: right;
  width: 40%;
  padding-left: 30px;
}
#contact input,
#contact textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #636466;
  margin-bottom: 6px;
  padding: 8px 15px;
  background: #cfe9ce;
  border: 0;
}
#contact textarea {
  height: 100px;
  padding: 15px;
}
#contact button {
  float: left;
  margin-top: 10px;
  font-size: 24px;
  color: #636466;
  background: transparent;
  border: none;
}
#contact button .icon-left {
  display: inline-block;
  background: #636466;
  color: #95ce92;
  border-radius: 50%;
}
#contact button .icon-left:before {
  margin: 0 0.1em;
}
#contact button:hover .icon-left,
#contact button:active .icon-left {
  color: #636466;
  background: #fff;
}
#contact button:active {
  color: #fff;
}
#contact button:active .icon-left {
  color: #95ce92;
}
#contact .col {
  width: 60%;
  float: right;
}
#contact .map {
  float: right;
  margin: 0 0 15px 15px;
  border: 1px solid #636466;
}
#contact strong {
  font-weight: bold;
  color: #fff;
}
#contact .bottom {
  float: right;
  font-size: 16px;
}
#contact a.icon-fb {
  font-size: 28px;
  color: #636466;
}
#contact a.icon-fb:hover {
  color: #fff;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px 0 20px 0;
}
footer a.up {
  margin-top: 20px;
  display: inline-block;
  padding-left: 5px;
  color: #ef2d61;
  line-height: 31px;
}
footer a.up span {
  display: none;
}
footer a.up:hover span {
  display: inline;
}
footer a.up:hover .icon-up {
  background: #cccecf;
  color: #ef2d61;
}
footer a.up .icon-up {
  margin-left: 5px;
  background: #ef2d61;
  font-size: 25px;
  color: #fff;
}
footer a.up .icon-up:before {
  width: 30px;
  height: 30px;
  margin: 0;
}
.footer-padding {
  height: 580px;
}
#pictures {
  padding: 0;
  position: relative;
}
#pictures img {
  float: right;
  width: 25%;
  overflow: hidden;
}
#items h1 {
  color: #ef2d61;
}
#items article {
  margin-top: 30px;
  padding: 30px;
  height: 130px;
  border: 1px solid #b1b4b6;
  background: left top no-repeat;
  overflow: hidden;
  position: relative;
}
#items article h2,
#items article p {
  margin: 0;
}
#items article h2 {
  font-size: 40px;
  text-align: right;
  font-weight: normal;
}
#items article.left {
  padding-right: 70%;
  background: right top no-repeat;
}
#items article .big.icon-left {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 100px;
  -webkit-transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.4s;
}
#items article:hover {
  border-color: #636466;
  background: #636466 !important;
  color: #fff;
}
#items article:hover p .icon-left {
  display: none;
}
#items article:hover .big.icon-left {
  -webkit-transform: translateX(0);
}
