@import 'mixin'

text-color = #636466
gray-light = #CCCECF
gray-lighter = #E0E1E2
gray-dark = #B1B4B6
pink = #EF2D61
green = #95CE92
green-light = #CFE9CE

colors = 0 green #0084B6 #BC1A5E pink #F98813 #FDB128

width-max = 972px

html, body
  margin 0
  padding 0
  direction rtl

body
  min-width 320px
  font-size 16px
  color text-color
  -webkit-font-smoothing antialiased

body, h1, h2, h3, h4, h5, input, textarea, button
  font-family 'MeodedPashut', 'Merriweather Sans', arial, sans-serif

h1, h2
  text center

a, a:hover
  color pink
  text-decoration none !important

.hide
  display none !important

.clear
  clear both

img.cover
  width 100%

ul.inline
  list-style none
  margin 0
  padding 0
  li
    display inline
    padding 0

.container
  width 100%
  max-width width-max
  min-width 320px
  margin 0 auto
  ul&
    padding 0
    list-style none
  img&
    display block

#body
  background white
  position relative
  z-index 2

header
  width 100%
  background white
  position relative
  z-index 40
  .top
    height 100px
    padding 10px
  h1
    float left
    margin 15px
    a
      display block
      /*background url(../img/logo.png)*/
      size 193px 50px
      font-size 0
  p
    margin 0
    padding 30px 0 10px
    font-size 18px
    strong
      font-size 16px
  nav
    background gray-light
    position relative
    .icon-left-dir
      display none
    ul
      padding 0
      list-style none
    li
      display inline
    a
      display inline-block
      padding 10px 20px
      line-height 20px
      color text-color
      &.active
        text 12px 20px bold pink
      &.hover
        color pink
    &.second
      @media (min-width: 500px)
        absolute top 100% right left
      background text-color
      a
        padding 10px 15px
        line-height 13px
        color white
        &.active, &:hover
          background pink
          text 16px normal

triangle-setup()
  position relative
  &:before
    $size = 18px
    content none
    absolute top 100% right 50%
    z-index 10
    display block
    size 0
    margin-right - $size
    border $size solid transparent
    border-bottom-width 0
    border-top-color white

triangle(bg = @background || white)
  &:before
    content ''
    border-top-color bg

section
  @extend .cf
  triangle-setup()
  padding 30px 0
  background white

.icon-plus
  display block
  size 30px
  margin 10px auto
  background pink
  text 30px 30px white
  border-radius 50%
  &:before
    margin 0
  &:hover
    background white
    color pink

#slider
  padding-bottom 30px
  position relative
  triangle()
  h3
    absolute right top
    opacity 0
    -webkit-transition opacity .9s 1.1s
    text 30px normal
  .slider li
    img
      width auto
      max-height 400px
    &.rslides1_on
      h3
        opacity 1
  nav
    absolute right bottom 30px
    z-index 40
    a
      display inline-block
      size 40px
      text 30px white center
      background green
      &:hover
        background pink
      &:before
        line-height 40px
  .banner
    size 110px
    absolute left 40px top 40px
    z-index 30
    padding 20px
    background green
    text white center
    border-radius 50%
    h4, p
      margin 0
      padding 0
    .icon-plus
      absolute top 15px left -10px

#quote, #how
  background text-color
  color white
  triangle()
  .about strong
    color green

.big-quote
  direction ltr
  text 30px 40px center
  margin-bottom 25px
  font-weight 300
  font-family 'Merriweather Sans', sans
  strong
    font-size 30px
    font-weight 400
  small
    display block
    font-size 16px
  &:before
    content ''
    display block
    margin 10px auto
    background url(../img/quote.png) center
    size 52px 40px

#features
  padding-top 50px
  text-align center
  background green
  triangle()
  li
    col(3)
    padding 0 15px
  h2
    text bold white
  .big
    display inline-block
    size 198px
    background no-repeat
    background-size contain
  for noun in key eye hand
    image = '/img/icons/'+ noun +'.png'
    hover = '/img/icons/'+ noun +'-hover.png'
    .{noun}
      background-image url(image)
      &:hover
        background-image url(hover)

#pictures
  padding 0
  position relative
  img
    col(4)
    overflow hidden

#how
  height 123px
  padding 0
  text center
  -webkit-transition: height .1s;
  -moz-transition: height .1s;
  -ms-transition: height .1s;
  -o-transition: height .1s;
  transition: height .1s;
  h2
    margin 0
    padding 30px 0
    text 250% normal
    strong
      color green

#steps
  background gray-lighter
  triangle()
  ul
    overflow hidden
  li
    col(6)
    margin 30px 0 0
    padding 0 15px
    position relative
    -webkit-transition: top .1s
    -moz-transition: top .1s
    -ms-transition: top .1s
    -o-transition: top .1s
    transition: top .1s
    h3
      text 16px bold
      height 50px
    .number
      text 150px 100px
    for color, i in colors
      &:nth-child({i})
        .number
          color color
  .line
    margin 30px auto 50px
    padding 0 0 30px 40px
    position relative
    &:before
      content ''
      absolute right top
      z-index 10
      size 0
      border 25px solid transparent
      border-left-width 0
      border-right-color gray-lighter
  .line span
    col(6)
    height 50px
    position relative
    &:after
      content ''
      absolute right 100% top
      z-index 10
      size 0
      border 25px solid transparent
      border-left-width 0
    for color, i in colors
      &:nth-child({i})
        background color
        &:after
          border-right-color color

#we
  padding 0 0 30px
  text center
  triangle()
  h2
    color white
    text 100px 100px bold
    margin -86px 0 10px 0
    position relative
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -ms-transition: top .2s;
    -o-transition: top .2s;
    transition: top .2s;
  h3
    text 24px normal
  .container
    z-index 4
    position relative
    max-width 600px
  .icon-plus:hover
    background gray-light

#contact
  font-size 18px
  background green
  /*box-shadow 0 3px 5px #ccc*/
  h2
    margin 10px 0
    text 60px normal text-color right
  form
    float right
    width 40%
    padding-left 30px
  input, textarea
    display block
    width 100%
    text 18px text-color
    margin-bottom 6px
    padding 8px 15px
    background green-light
    border 0
  textarea
    height 100px
    padding 15px
  button
    float left
    margin-top 10px
    text 24px text-color
    background transparent
    border none
    .icon-left
      display inline-block
      background text-color
      color green
      border-radius 50%
      &:before
        margin 0.14em 0.14em 0
    &:hover, &:active
      .icon-left
        color text-color
        background white
    &:active
      color white
      .icon-left
        color green
  .col
    width 60%
    float right
    p
      margin 0
  .map
    float right
    margin 0 0 15px 15px
    border 1px solid text-color
  strong
    text bold white
  .bottom
    float right
    font-size 16px
  a.icon-fb
    text 28px text-color
    &:hover
      text white
    &:before
      margin 0

footer
  width 100%
  fixed bottom right
  padding 30px 0 20px 0

.footer-padding
  height 600px
.footer
  padding-top 0

a.up
  margin 20px 0
  display inline-block
  padding-left 5px
  color pink
  line-height 31px
  span
    display none
  &:hover
    span
      display inline
    .icon-up
      background gray-light
      color pink
  .icon-up
    margin-left 5px
    background pink
    text 25px white
    &:before
      size 30px
      margin 0

.head-box
  margin 32px auto 0px
  h1
    margin 0
    text 30px right
  p
    margin 0

#items
  article
    margin-bottom 30px
    border 1px solid gray-dark
    overflow hidden
    position relative
    max-height 130px
    -webkit-transition max-height .5s
    &:last-child
      margin-bottom 0
    .title
      padding 30px
      cursor pointer
      background white left top no-repeat
      -webkit-transition padding .35s
      triangle(text-color)
      .icon-close
        absolute left 5px top 5px
        text 25px white
        -webkit-transform translateX(-100px)
        -webkit-transition -webkit-transform .35s
      &:before
        right 95%
        border-width 20px
      h2, p
        margin 0
      h2
        text 40px right normal
      .big.icon-left-dir
        absolute left top 10px
        font-size 100px
        -webkit-transform translateX(-100px)
        -webkit-transition -webkit-transform .35s
    &.left .title
      padding-right 60%
      background right top no-repeat
    &:hover, &.expand
      .title
        border-color text-color
        background text-color !important
        color white
        p .icon-left-dir
          display none
      .big.icon-left-dir
        -webkit-transform translateX(0)
    &.expand
      max-height 600px
      .title
        padding-right 30px
      .big.icon-left-dir
        -webkit-transform translateX(-100px)
      .icon-close
        -webkit-transform translateX(0)
  .content
    padding 20px
    position relative
    .inner
      absolute bottom 0px right 71%
      p
        margin-left 5px
  .slider
    float right
    width 70%
    margin-left 30px
    border 1px solid gray-dark
    position relative
    overflow hidden
    .next, .prev
      absolute top 50% right
      z-index 10
      size 38px
      margin-top - (@height / 2)
      background text-color
      text 30px 40px white center
      &:hover
        background pink
    .next
      right auto
      left 0
    .rslides_tabs
      absolute right 15px bottom 15px
      z-index 10
      @extend ul.inline
      a
        display inline-block
        size 12px
        background gray-light
        text 0
        margin-left 8px
        &:hover
          background pink
    .rslides_here a
      background text-color

  &.third
    padding-top 20px
    text center
    .thumb
      display inline-block
      size 300px 170px
      margin-bottom 31px
      margin-left 31px
      text center
      border 1px solid gray-dark
      position relative
      overflow hidden
      &.last
        margin-left 0
      h2
        absolute left right bottom
        margin 0
        padding 5px 15px 5px 10px
        background text-color
        text white normal right
        -webkit-transform translateY(40px)
        -webkit-transform-origin bottom left
        -webkit-transition -webkit-transform .2s
        i
          float left
          -webkit-transform rotateZ(0)
          -webkit-transition -webkit-transform .2s
      &:hover, &.selected
        h2
          -webkit-transform translateY(0)
      &.selected
        h2 i
          -webkit-transform rotateZ(-90deg)
    article
      max-height 0
      margin-bottom 0
      border-color transparent
      border-left-color gray-dark
      border-right-color gray-dark
      -webkit-transition margin-bottom 1s, max-height 1s
      .title
        text white right
        background text-color !important
      &.expand
        margin-bottom 30px
        max-height 600px
        border-color gray-dark

#about
  padding-top 10px
  h1
    color green
  hr
    height 3px
    margin-bottom: 40px
    border none
    background #8A8C8E
    triangle-setup()
    triangle()
  .col
    col(2)
    &:first-child
      padding-left 20px
    &:last-child
      padding-right 20px
  h3
    margin 0
    color green
    text 16px
  .chess
    padding 0
    list-style none
    li
      col(4)
      height 280px
      overflow auto
      padding 20px
      background #E4E5E6
      &:nth-child(2n)
        background #F0F0F1
      @media (min-width: 650px)
        &:nth-child(n+5)
          background #E4E5E6
        &:nth-child(2n+5)
          background #F0F0F1
      -webkit-transition: background .3s
      -moz-transition: background .3s
      -ms-transition: background .3s
      -o-transition: background .3s
      transition: background .3s
      &:hover
        background white
    h3
      text 35px text-color
  .clients
    text-align center
    img
      margin 35px 20px
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%)
      -webkit-transition: -webkit-filter .3s
      &:hover
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%)